.env

__pycache__/
*.pyc
*.pyo
*.pyd

admins.txt
subscribers.txt
sent_news.txt
autopost_channel.txt

logs.txt
telegram_logs.txt
bot_stats.txt

report.txt
category_report.txt
operational_summary.txt

tmp_*.txt
